{% extends 'admin/dash.html' %}
{% load widget_tweaks %}
{% block content %}
              <!-- column -->
              <div class="col-md-10 mt-4 container">
                <div class="card">
                  <div class="card-body">
                    <form action='academic_calender' method='post'>
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputEmail1">Academic Calender </label>
                        {% render_field form.link class="form-control" id="time" aria-describedby="" placeholder="Enter Academic Calender Link"%} 

                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                  </div>

            </div>

          </div>
          <!-- /.container-fluid -->

        </div>

{% endblock content %}