{% extends 'admin/dash.html' %}
{% load widget_tweaks %}
{% block content %}
          <div class="col-md-10 mt-4 container">
            <h4 class="pb-4">Awards and Honours Details</h4>
            <div class="card">
              <div class="card-body">
                <form method='post' action='{% if id %}/admin/awards_honours/{{id}} {% else %}awards_honours{% endif %}' enctype="multipart/form-data">
                {% csrf_token %}
                {{form.media}}
                  <div class="form-row">
                      <div class="form-group col-md-6">
                        {% render_field form.name placeholder="Full Name" class="form-control" %}
                      </div>
                      <div class="form-group col-md-6">
                        {% render_field form.id_no class="form-control" placeholder="Id Number" %}
                      </div>
                    </div>

                  <div class="form-group">

                    {% render_field form.title class="form-control" id="time" aria-describedby="emailHelp" placeholder="Enter Title of Award / Honours" %}
                  </div>

                  <div class="form-group">

                   {% render_field form.description class="form-control" id="description" rows="5" placeholder="Description of Award / Honour" %}
                 </div>

                 <div class="form-group">

                   {% render_field form.link class="form-control" id="description" rows="5" placeholder="Link of source(optional)" %}
                 </div>

                 <div class="form-group">

                      <label>Abstract of the Award. (PDF/PPT/Word): </label>

                      {% render_field form.proof class="form-control"  %}
          
                    </div>


                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>

              </div>

        </div>

      </div>
      <!-- /.container-fluid -->

     </div>
      </div>

      <div class="container table-responsive col-md-10">
                    <h4 class="pb-4">Awards</h4>
                    <table class="table table-bordered table-hover modal_all" style="text-align: center;">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Id.No</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for o in awards %}
                            <tr>
                                <td scope="row"></td>
                                <th scope="row">{{o.id_no}}</th>
                                <td>{{o.name}}</td>
                                <td>{{o.description|truncatechars:30}}</td>
                               
                                <td><a href="awards_honours/{{o.id}}"><i class="fas fa-edit"></i></a></td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#viewmodel2"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    <div class="modal fade top" id="viewmodel2" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2" aria-hidden="true" data-backdrop="true">
                                        <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="row d-flex justify-content-center align-items-center" style="z-index: 1000">
                                                        <h4> Deleting Award {{o.title}}</h4>
                                                        <p>Clicking on OK will perminantally delete this award and all the files associated with it from the database </p>
                                                        <p>Are you sure ?</p>
                                                        <hr>
                                                        <a href="admin_delete/{{o.id}}/award"><button  class="btn btn-success" style="font-size: 15px;">Yes</button></a>
                                                        <button href="#" class="btn btn-danger" data-dismiss="modal" style="font-size: 15px; margin-left: 5px;">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                 <p>Showing page {{awards.number}} of {{ awards.paginator.num_pages}} </p>
                </div>
                <div class="w-90 position-relative container col-md-10">
                    {% if awards.has_previous %}<a href="?page={{awards.previous_page_number}}" class="butt prev">Prev 10</a>{% endif %}
                    {% if awards.has_next %}<a href="?page={{awards.next_page_number}}" class="butt next">Next 10</a>{% endif %}
                </div>






{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function(){
    $('table').find('tr').not(':eq(0)').each(function(i){
        $(this).children('td:eq(0)').text(i+1).css('font-weight', 'bold');
    });
});
</script>
{% endblock scripts %}