{% extends 'admin/dash.html' %}
{% load widget_tweaks %}
{% block content %}

          <div class="col-md-10 mt-4 container">
            <h4 class="pb-4">Events and Workshop Details</h4>
            <div class="card">
              <div class="card-body">
                <form method='post' action='{% if id %}/admin/events/{{id}} {% else %}events{% endif %}'>
                {% csrf_token %}
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      {% render_field form.res_person placeholder="Name of Resource Person" class="form-control" %}
                    </div>
                    <div class="form-group col-md-6">
                      {% render_field form.covinor class="form-control" id="conviner" placeholder="Name of Convinor" %}
                    </div>

                    <div class="form-group col-md-6">
                      {% render_field form.coordinators class="form-control" id="conviner" placeholder="Name of Co-Convinor" %}
                    </div>
                </div>
                <div class="form-group">
                  {% render_field form.name class="form-control" aria-describedby="emailHelp" placeholder="Enter Name of Programme" %}
                </div>
                <div class="form-group">
                  {% render_field form.description class="form-control" aria-describedby="emailHelp" placeholder="Enter Description of Programme" %}
                </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>

              </div>

        </div>

      </div>
      <!-- /.container-fluid -->

       <!---   Table for Displaying  Publications-->
                <div class="container table-responsive col-md-10">
                    <h4 class="pb-4">Events</h4>
                    <table class="table table-bordered table-hover modal_all" style="text-align: center;">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Resource Person</th>
                                <th scope="col">Convinor</th>
                                <th scope="col">Name of the Program</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for e in events %}
                             <tr>
                                <td scope="row"></td>
                                <th scope="row">{{e.res_person}}</th>
                                <td>{{e.covinor}}</td>
                                <td>{{e.name}}</td>
                               
                                <td><a href="events/{{e.id}}"><i class="fas fa-edit"></i></a></td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#viewmodel2"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    <div class="modal fade top" id="viewmodel2" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2" aria-hidden="true" data-backdrop="true">
                                        <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="row d-flex justify-content-center align-items-center">
                                                       <h4> Deleting Event {{e.name}}</h4>
                                                        <p>Clicking on OK will perminantally delete this event and all the files associated with it from the database </p>
                                                        <p>Are you sure ?</p>
                                                        <hr>
                                                        <a href="admin_delete/{{e.id}}/event"><button class="btn btn-success" style="font-size: 15px;">Yes</button></a>
                                                        <button href="#" class="btn btn-danger" data-dismiss="modal" style="font-size: 15px; margin-left: 5px;">Cancel</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                 <p>Showing page {{events.number}} of {{ events.paginator.num_pages}} </p>
                </div>
                <div class="w-90 position-relative container col-md-10">
                    {% if events.has_previous %}<a href="?page={{events.previous_page_number}}" class="butt prev">Prev 10</a>{% endif %}
                    {% if events.has_next %}<a href="?page={{events.next_page_number}}" class="butt next">Next 10</a>{% endif %}
                </div>
    <!-- /#page-content-wrapper --> 
  <!-- /#wrapper -->
{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function(){
    $('table').find('tr').not(':eq(0)').each(function(i){
        $(this).children('td:eq(0)').text(i+1).css('font-weight', 'bold');
    });
});
</script>
{% endblock scripts %}

