{% extends 'admin/dash.html' %}
{% load widget_tweaks %}
{% block content %}
<form class="well form-horizontal" method="post"  id="contact_form" action='{% if id %}/admin/faculty/{{id}}{% else %}faculty{% endif %}' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
<div class="col-md-10 container register-right m-t-5">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">New Faculty Details Entry Form</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                        {% render_field form.name class="form-control" placeholder='Full name*' %}
                                        </div>
                                        


                                       <div class="form-group">
                                            {% comment %} <select class="form-control">
                                                <option class="hidden"  selected disabled>Please select your Education Level</option>
                                                <option>M.Tech</option>
                                                <option>B.Tech</option>
                                                
                                            </select> {% endcomment %}
                                        {% render_field form.edu_level class="form-control" placeholder='Select' %}

                                        </div>

                                         <div class="form-group">  
                                      {% render_field form.education class="form-control" placeholder='Education in detail'style='height:60px' %}

                                        </div>

                                        <div class="form-group">
                                            {% render_field form.spec_sub class="form-control" placeholder="Specialized Subject *"  %}
                                        </div>

                                        <div class="form-group">
                                            {% render_field form.work_exp class="form-control"  placeholder="Work Experience in detailed" %}
                                        </div>
                                        

                                        <div class="form-group">
                                            {% render_field form.publication class="form-control"  placeholder="List of Publications"  %}
                                        </div>


                                        <div class="form-group">
                                            {% render_field form.projects class="form-control"  placeholder="List of Projects done" %} 
                                        </div>

                                        <div class="form-group">
                                            <div class="maxl">
                                                {% render_field form.gender class="form-control" %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {% render_field form.email class="form-control" placeholder="Email *" %}
                                        </div>
                                        <div class="form-group">
                                            {% render_field form.phone minlength="10" maxlength="10"  class="form-control" placeholder="Phone number*" type="number" %}
                                        </div>

                                        <div class="form-group">
                                            {% render_field form.sub_dealt class="form-control"  placeholder="List of Subject Dealt" %}
                                        </div>

                                        <div class="form-group">
                                            {% render_field form.conf_attended class="form-control"  placeholder="List of Conferrences Attended" %}
                                        </div>

                                        <div class="form-group">
                                            {% render_field form.workshops_attended class="form-control"  placeholder="List of Workshop Attended" %}
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="form-label" for="customFile">Upload Latest Photo*</label>
                                            {% render_field form.image %}
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="customFile">Upload Latest Resume/CV*</label>
                                            {% render_field form.cv %}
                                        </div>

                                        <Button type="submit" class="btnRegister facbutton">Submit</Button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

<!---   Table for Displaying  Publications-->
                <div class="container table-responsive col-md-10">
                    <h4 class="pb-4">Faculty</h4>
                    <table class="table table-bordered table-hover modal_all" style="text-align: center;">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Education level</th>
                                <th scope="col">Specialized subject</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone no.</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for f in faculty %}
                             <tr>
                                <td scope="row"></td>
                                <th scope="row">{{f.name}}</th>
                                <td>{{f.edu_level}}</td>
                                <td>{{f.spec_sub}}</td>
                                <td>{{f.email}}</td>
                                <td>{{f.phone}}</td>
                               
                                <td><a href="faculty/{{f.id}}"><i class="fas fa-edit"></i></a></td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#viewmodel{{f.id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    <div class="modal fade top" id="viewmodel{{f.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2" aria-hidden="true" data-backdrop="true">
                                        <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="row d-flex justify-content-center align-items-center">
                                                       <h4> Deleting Faculty {{f.name}}</h4>
                                                        <p>Clicking on OK will perminantally delete this faculty object and all the files associated with it from the database </p>
                                                        <p>Are you sure ?</p>
                                                        <hr>
                                                        <a href="admin_delete/{{f.id}}/faculty"><button class="btn btn-success" style="font-size: 15px;">Yes</button></a>
                                                        <button href="#" class="btn btn-danger" data-dismiss="modal" style="font-size: 15px; margin-left: 5px;">Cancel</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                 <p>Showing page {{faculty.number}} of {{ faculty.paginator.num_pages}} </p>
                </div>
                <div class="w-90 position-relative container col-md-10">
                    {% if faculty.has_previous %}<a href="?page={{faculty.previous_page_number}}" class="butt prev">Prev 10</a>{% endif %}
                    {% if faculty.has_next %}<a href="?page={{faculty.next_page_number}}" class="butt next">Next 10</a>{% endif %}
                </div>
{% endblock %}
{% block scripts %}
<script>
    $('#id_edu_level').children('option:selected').text('Select Education level').attr('disabled','disabled')
    $('textarea').css({height:'62px'})
</script>
{% endblock scripts %}