{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{% block title %}|RGUKT CSE|{% endblock title %}</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'img/logo.png' %}" rel="icon" />
    <link href="{% static 'img/logo.jpg' %}" rel="apple-touch-icon" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!---Fa fa Link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Graduate&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/icofont/icofont.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    {% comment %}
    <script type="text/javascript">
      $("#myCarousel").carousel({
        interval: 3000,
      });
    </script>
    {% endcomment %}
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class='rgukt wfull'><h1 align='center' class='rgukt'><a href='http://rguktsklm.ac.in/'>Rajiv Gandhi University of knowledge Technologies Srikakulam<br></a></h1></header>
    <header id="header" class='rgukt w850'><h1 class='rgukt' align='center'><a href='http://rguktsklm.ac.in/'>Rajiv Gandhi University of knowledge Technologies SKLM<br></a></h1></header>
    <header id="header" class='rgukt w600'><h1 class='rgukt' align='center'><a href='http://rguktsklm.ac.in/'>RGUKT Srikakulam<br></a></h1></header>
    <header id="header" class="rgukt w450"><h1 class='rgukt' align='center'><a href='http://rguktsklm.ac.in/'>RGUKT SKLM<br></a></h1></header>
    <header id="header" class="sticky-top">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-10 d-flex align-items-center p-0">
            <h1 class="logo mr-auto cse"><a href="/">CSE</a></h1>
            <!-- <a href="index.html" class="logo mr-auto"><img src="{% static 'img/logo.jpg" alt="" class="img-fluid"></a> -->

            <nav class="nav-menu d-none d-lg-block">
              <ul>
                <li class="{% block home_class %}{% endblock home_class %}">
                  <a href="/">Home</a>
                </li>
                <!--  <li class="drop-down"><a href="">About</a>
                <ul>
                  <li><a href="#">Campus Life</a></li>
                  <li><a href="#">Education System</a></li>
                  <li><a href="#">Acheivements & Awards</a></li>
                  <li><a href="#">Governing Council</a></li>
                  <li><a href="#">Right to Info Act</a></li>
                  <li><a href="#">Galary</a></li>
                </ul>
              </li> -->
                <li class="drop-down {% block academics_class %}{% endblock%}">
                  <a href="">Academics</a>
                  <ul>
                    <li>
                      <a
                        href="{{time_table.link}}"
                        target="blank"
                        >Time Table</a
                      >
                    </li>
                    <li><a href="courses">Courses</a></li>
                    <li><a href="curriculum">Curriculum</a></li>

                    <li>
                      <a
                        href="{{academics.link}}"
                        target="blank"
                        >Academic Calendar</a
                      >
                    </li>
                  </ul>
                </li>

                <li class="drop-down {% block people_class %}{% endblock%}" id='people'>
                  <a href="">People</a>
                  <ul>
                    <li><a href="faculty">Faculty</a></li>
                    <li><a href="staff">Staff</a></li>
                    <li><a href="students">Students</a></li>
                  </ul>
                </li>

                <li class="drop-down {% block research_class %}{% endblock%}">
                  <a href="">Research</a>
                  <ul>
                    <li><a href="labs">Labs</a></li>
                    <li><a href="publications">Publications</a></li>
                    <li><a href="research_areas">Research Areas</a></li>
                  </ul>
                </li>

                <li class="drop-down {% block highlights_class %}{% endblock%}">
                  <a href="">Highlights</a>
                  <ul>
                    <li><a href="collaborations">Collaborations</a></li>
                    <li><a href="awards_honours">Awards and Honours</a></li>
                    <li><a href="events">Events and Workshops</a></li>
                    <li><a href="gallery">Gallery</a></li>
                  </ul>
                </li>

                <li class="drop-down {% block jobs_class %}{% endblock%}">
                  <a href="">Jobs</a>
                  <ul>
                    <li><a href="internships">Internships</a></li>
                    <li><a href="placements">Placements</a></li>
                  </ul>
                </li>

                <li class=" {% block news_class %}{% endblock%}">
                  <a href="news"
                    >News</a
                  >
                </li>
                <li class="drop-down {% block about_class %}{% endblock%}">
                  <a href="">About Us</a>
                  <ul>
                    <li>
                      <a href="https://rguktsklm.ac.in/address.php" target="_blank"
                        >Address & Directions</a
                      >
                    </li>
                    <li><a href="web_team">WebTeam</a></li>
                  </ul>
                </li>
                {% if request.user.username == 'admincse' %}
                <li style="color:white; font-family:'Patua One', cursive"><a href='/admin/dashboard'>Admin</a></li>
                {% endif %}
              </ul>
            </nav>
            <!-- .nav-menu -->
          </div>
        </div>
      </div>
    </header>
    <!-- End Header -->

    {% block content %}{% endblock content %}

    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>CSE</h3>
              <p>
                RGUKT - Srikakulam Campus <br />
                Nuzvid, Krishna, Andhra Pradesh<br />
                India, Pin:521202<br /><br />
                <strong>Email: hodcse@rguktsklm.ac.in</strong>
              </p>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a
                    href="https://rguktsklm.ac.in/universitydata.php?data=overview"
                    >About</a
                  >
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="https://rguktn.ac.in/about/aboutrgukt/"
                    >Infrastructure</a
                  >
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="https://rguktn.ac.in/academics/programmes/"
                    >Academic</a
                  >
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#contact">Contact</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/admin">Admin</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Websites</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">CMS</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">HMS</a></li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">OLMS</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Helping Handns</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Our Universities</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="https://rguktn.ac.in/">RGUKT Nuzvid</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="https://www.rguktong.ac.in/index.php"
                    >RGUKT Ongole</a
                  >
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="https://rguktrkv.ac.in/">RGUKT RK Valley</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="https://www.rgukt.ac.in/">RGUKT Basar</a>
                </li>
              </ul>
            </div>

             <div class="col-lg-3 col-md-6 footer-links">
              <h4>Forms</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/publication_form" target="_blank">New Publication Form</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/award_form" target="_blank">New Award Form</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/faculty_form" target="_blank">New Faculty Form</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/staff_form" target="_blank">New Staff Form</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/internship_form" target="_blank">New Internship Form</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/placement_form" target="_blank">New Placement Form</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="copyright-wrap d-md-flex py-4">
          <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
              &copy; Copyright
              <strong><span>| RGUKT-CSE | 2021 </span></strong>. All Rights
              Reserved
            </div>
            <div class="credits">
              Designed & Developed by <strong><a href="web_team" target="_blank">Team - ARM</strong></a>
            </div>
          </div>
          <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
      </div>
    </footer>

{% for k,v in form.errors.items %}
  <div class="toast" data-autohide="false" style="position: fixed; bottom:50px; right: 50px; z-index:1000 float:right">
    <div class="toast-header">
      <i class="fas fa-comment-alt" style="color:#ff0033 "></i>&nbsp
      <strong class="mr-auto">Error!!</strong>
      <small>Now</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      {{k}} : {{v}}
    </div>
  </div>
{% endfor %}

{% for m in messages %}
  <div class="toast" data-autohide="false" style="position: fixed; bottom:50px; right: 50px; z-index:1000 float:right">
    <div class="toast-header">
      <i class="fas fa-comment-alt" style="color:#3474eb "></i>&nbsp
      <strong class="mr-auto">{{m.tags}}!!</strong>
      <small>Now</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      {{ m }}
    </div>
  </div>
{% endfor %}

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <!--<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>-->
    <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    {% block scripts %}{% endblock scripts %}

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
