{% extends 'base.html' %}
{% load static %}
{% block title %}| CSE Courses |{% endblock title %}
{% block content %}
{% block academics_class %} active {% endblock academics_class %}
<div id="main">
  <!-- Post -->
  <article class="shade-two" style="margin-top: 70px;">
    <div class="container">
      <header>
        <h2 class="text-center" data-aos="fade-up"> COURSES</h2>
        <p></p>
      </header><table class="table">
        <thead data-aos="fade-up">
      <tr>
        <th>CS1101</th>
        <th>PRGRAMMING WITH C</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Credits:</strong> 4</li>
            <li><strong>Pre Requisites:</strong> None</li>
          </ul>
        </td>
        <td><p>Fundamentals of  Introduction to Computer Programming.Conditional statements and Loops. Pointers. Functions. Structure& Union. Files  </p></td>
      </tr>
    </tbody>

     <thead data-aos="fade-up">
      <tr>
        <th>CS1102</th>
        <th>WEB TECHNOLOGIES</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Credits:</strong> 4</li>
            <li><strong>Pre Requisites:</strong> None</li>
          </ul>
        </td>
        <td><p>Fundamentals of  Introduction to web technologies. Web design, HTML, Style Sheets, JavaScript , XML and DOM  </p></td>
      </tr>
    </tbody>

     <thead data-aos="fade-up">
      <tr>
        <th>CS1204</th>
        <th>DATA ANALYTICS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Credits:</strong> 2</li>
            <li><strong>Pre Requisites:</strong> None</li>
          </ul>
        </td>
        <td><p>The course is aimed at introducing to data analytics providing some basic data science.
To discover patterns and laws in complex datasets will be introduced to students together with instruments to
analyse,characterize,validate,parametrize and model complex data.
Practical issues on business data analysis and statistics will be covered with specific case studies.  </p></td>
      </tr>
    </tbody>

       <thead data-aos="fade-up">
      <tr>
        <th>CS1203</th>
        <th>DATA STRUCTURES</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Credits:</strong> 4</li>
            <li><strong>Pre Requisites:</strong> None</li>
          </ul>
        </td>
        <td><p>Master the implementation of different data structures.
Be familiar with writing recursive methods

Demonstrate understanding of the abstract properties of various data structures

Demonstrate understanding of various sorting algorithms,

Implement various data structures in more than one manner.
Choose the appropriate data structure for a specified application and different scenarios  </p></td>
      </tr>
    </tbody>


    <thead data-aos="fade-up">
      <tr>
        <th>CS1801</th>
        <th>COMPUTER ORGANIZATION & ARCHITECTURE</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Credits:</strong>4</li>
            <li><strong>Pre Requisites:</strong> None</li>
          </ul>
        </td>
        <td><p>Concepts of Basic functional blocks of a computer.Data representation.  ALU. CPU control unit design. Memory system design. Input - output Subsystems.Performance enhancement techniques: </p></td>
      </tr>
    </tbody>

    <thead data-aos="fade-up">
      <tr>
        <th>CS1201</th>
        <th>FORMAL LANGUAGES AND FINITE AUTOMATA</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Credits:</strong>4</li>
            <li><strong>Pre Requisites:</strong> None</li>
          </ul>
        </td>
        <td><p>Concepts of Introduction to Automata. Finite Automata. Regular Languages. Grammars. Push Down Automata. Turing Machine & Computability Theory </p></td>
      </tr>
    </tbody>



  
    <thead data-aos="fade-up">
      <tr>
        <th>CS2203</th>
        <th>MOBILE APPLICATION DEVELOPMENT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Credits:</strong> 4</li>
            <li><strong>Pre Requisites:</strong> NONE</li>
          </ul>
        </td>
        <td><p>Understand importance of mobile presence.
Will be able to design mobile applications.
Develop Android Mobile applications.
Develop IOS Mobile applications.
Develop mobile apps using third-party frameworks.
Understand windows mobile Applications.</p></td>
      </tr>
    </tbody>
  
    <thead data-aos="fade-up">
      <tr>
        <th>CS2202</th>
        <th>COMPUTER NETWORKS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Credits:</strong> 4</li>
            <li><strong>Pre Requisites:</strong> NONE</li>
          </ul>
        </td>
        <td><p>Concept of Network Hardware and Software,The Data Link Layer,The Network Layer,The Transport Layer, The Application Layer, Network Security </p></td>
      </tr>
    </tbody>
  
    <thead data-aos="fade-up">
      <tr>
        <th>CS2201</th>
        <th>SOFTWARE ENGINEERING</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Credits:</strong> 4</li>
            <li><strong>Pre Requisites:</strong> CS1310</li>
          </ul>
        </td>
        <td><p>Comprehend software development life cycle.
Estimating various estimation techniques of software metrics.
Apply software design and development techniques.
Identify verification and validation methods in a software engineering project.
Implement testing methods on sample project.
Apply Non Functional Requirement techniques (Reliability, Risk management) for a case study.</p></td>
      </tr>
    </tbody>
  
    <thead data-aos="fade-up">
      <tr>
        <th>CS2206</th>
        <th>ARTIFICIAL INTELLIGENCE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Credits:</strong> 2</li>
            <li><strong>Pre Requisites:</strong> NONE</li>
          </ul>
        </td>
        <td><p>Understand concepts of Artificial Intelligence and different types of intelligent agents and their architecture.
Formulate problems as state space search problem & efficiently solve them.
Understand the working of various informed and uninformed searching algorithms and different heuristics
Understand concept of knowledge representation i.e. propositional logic, first order logic.
Reasoning with uncertainty and Machine learning algorithms.
Understand how learning happens in neural networks</p></td>
      </tr>
    </tbody>
  
    <thead data-aos="fade-up">
      <tr>
        <th>CS2205</th>
        <th>INTRODUCTION TO SOCIAL NETWORKING</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Credits:</strong> 2</li>
            <li><strong>Pre Requisites:</strong>None</li>
          </ul>
        </td>
        <td><p>Know basic notation and terminology used in network science.Be able to visualize, summarize and campare networks. Understand basic principles behind netowork analysis in R programming language.Be capable of analyzing real work networks</p></td>
      </tr>
    </tbody>
  
    <thead data-aos="fade-up">
      <tr>
        <th>CS4104</th>
        <th>ADVANCED CLOUD COMPUTING</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Credits:</strong> 4</li>
            <li><strong>Pre Requisites:</strong>None</li>
          </ul>
        </td>
        <td><p>Concepts of Introduction to Cloud Computing. Virtualization and Resource Provisioning in Clouds. Data Management in Clouds. Security in Clouds. Programming Enterprise Clouds using Aneka.Advanced Topics and Cloud Applications</p></td>
      </tr>
    </tbody>
  
    <thead data-aos="fade-up">
      <tr>
        <th>CS3109</th>
        <th>Compiler Design</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Credits:</strong> 4</li>
            <li><strong>Pre Requisites:</strong> NONE</li>
          </ul>
        </td>
        <td><p>Concepts of Introduction to compilers, Syntax Analysis, Semantic Analysis,Intermediate Code Generation and Code Optimization .Code generation:</p></td>
      </tr>
    </tbody>
  
    <thead data-aos="fade-up">
      <tr>
        <th>CS3107</th>
        <th>OBJECT ORIENTED ANALYSIS AND DESIGN</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Credits:</strong> 4</li>
            <li><strong>Pre Requisites:</strong>None</li>
          </ul>
        </td>
        <td><p>Concepts of Introduction to UML.Basic Structural Modeling.Class & Object Diagrams.Basic Behavioral Modeling. Advanced Behavioral Modeling.Architectural Modeling</p></td>
      </tr>
    </tbody>
  
    <thead data-aos="fade-up">
      <tr>
        <th>CS2901</th>
        <th>NETWORKING TECHNOLOGIES</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Credits:</strong> 2</li>
            <li><strong>Pre Requisites:</strong> None</li>
          </ul>
        </td>
        <td><p>Connecting to a LAN& WAN; implementing network security; network types; network media; routing
and switching fundamentals.The TCP/IP and OSI models; IP addressing; Ethernet, LAN & WAN technologies; operating and
configuring CISCO devices; extending switched networks with VLANs.Determining IP routes; managing IP traffic with access lists; establishing point to point connections.
Introduction to Networking Tools like NS2 Tool and Packet Tracer</p></td>
      </tr>
    </tbody>
  
    <thead data-aos="fade-up">
      <tr>
        <th>CS3104</th>
        <th>MACHINE LEANRING</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Credits:</strong> 4</li>
            <li><strong>Pre Requisites:</strong> None</li>
          </ul>
        </td>
        <td><p>Fundamentals of Introduction to ML. Statistical Models. Artificial Neural Networks and SVM. Decision Trees and Ensemble method. Evaluation Measures & Hypothesis Testing. Clustering  </p></td>
      </tr>
    </tbody>
  
    <thead data-aos="fade-up">
      <tr>
        <th>CS3105</th>
        <th>CRYPTOGRAPHY & NETWORK SECURITY</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Credits:</strong> 4</li>
            <li><strong>Pre Requisites:</strong> None</li>
          </ul>
        </td>
        <td><p>To understand basics of Cryptography and Network Security.To be able to secure a message over insecure channel by various means.To learn about how to maintain the Confidentiality, Integrity and Availability of a
data.To understand various protocols for network security to protect against the threats
in the networks.</p></td>
      </tr>
    </tbody>


</table>
</div>
  </article>
</div>                                       
{% endblock %}