{% extends 'base.html' %}
{% load static %}
{% block title %}| CSE Curriculam |{% endblock title %}
{% block content %}
{% block academics_class %} active {% endblock academics_class %}
<div class="container">
  <div class="table-responsive col-lg-12">
  <div data-aos="fade-up">
      <h2 class="m-t-n-md text-center f-blue" style="margin-top: 80px;"> Computer Science & Engineering - Curriculum<br> <small class="f-tblue"> (For 2016-2018 batch students) </small></h2>
      <p class="f-s-15 f-tblue text-center">
          I Year – Semester I (E1S1) Course Structure
    </p>
  </div>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
  <thead>
      <tr class="bg-info">
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th class="text-center">Contact Hours (L-T-P)</th>
        <th><strong>Credits</strong></th>
      </tr>
      </thead>
   <tbody>
      <tr>
          <td class="text-center">CS1101</td>
          <td>Programming with C</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">MA1131</td>
          <td>Discrete Mathematics</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">EC1107</td>
          <td>Digital Logic Design</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS1102</td>
          <td>Web Technologies</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">EG1101</td>
          <td>English Language Lab-I</td>
          <td class="text-center">0-0-3</td>
          <td class="text-center">2</td>
          </tr>
          <tr>
          <td class="text-center">CS1701</td>
          <td>Programming with C Lab</td>
          <td class="text-center">0-0-3</td>
          <td class="text-center">2</td>
          </tr>
          <tr>
          <td class="text-center">EC1707</td>
          <td>Digital Logic Design Lab</td>
          <td class="text-center">0-0-3</td>
          <td class="text-center">2</td>
          </tr>
          <tr>
          <td class="text-center">CS1702</td>
          <td>Web Technologies Lab</td>
          <td class="text-center">0-0-3</td>
          <td class="text-center">2</td>
          </tr>
          <tr class="info">
          <th> </th>
          <th>Total Credits</th>
          <th> </th>
          <th class="text-center">24</th>
        </tr>
      </tbody>
</table>
</div>



<div class="container">
  <div class="table-responsive col-lg-12">
  <div data-aos="fade-up">
      <p class="f-s-15 f-tblue text-center">
          I Year – Semester II (E1S2) Course Structure
    </p>
  </div>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
  <thead>
      <tr class="bg-info">
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th class="text-center">Contact Hours (L-T-P)</th>
        <th><strong>Credits</strong></th>
      </tr>
      </thead>
   <tbody>
      <tr>
          <td class="text-center">CS1201</td>
          <td>  Formal Languages and Automata Theory</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS1202</td>
          <td>Computer Organization and Architecture</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS1203</td>
          <td>  Data Structures</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">MA1231</td>
          <td>Engineering Mathematics-I</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS1204</td>
          <td>Data Analytics</td>
          <td class="text-center">2-0-0</td>
          <td class="text-center">2</td>
          </tr>
          <tr>
          <td class="text-center">EG1801</td>
          <td>English Language Lab-II</td>
          <td class="text-center">0-0-3</td>
          <td class="text-center">2</td>
          </tr>
          <tr>
          <td class="text-center">CS1801</td>
          <td>Computer Organization and Architecture Lab</td>
          <td class="text-center">0-0-3</td>
          <td class="text-center">2</td>
          </tr>
          <tr>
          <td class="text-center">CS1802</td>
          <td>Data Structure Lab</td>
          <td class="text-center">0-0-3</td>
          <td class="text-center">2</td>
          </tr>
          <tr class="info">
          <th> </th>
          <th>Total Credits</th>
          <th> </th>
          <th class="text-center">24</th>
        </tr>
      </tbody>
</table>
</div>


<div class="container">
  <div class="table-responsive col-lg-12">
  <div data-aos="fade-up">
      <p class="f-s-15 f-tblue text-center">
          I Year – Summer Semester II (E1S3) Course Structure
    </p>
  </div>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
  <thead>
      <tr class="bg-info">
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th class="text-center">Contact Hours (L-T-P)</th>
        <th><strong>Credits</strong></th>
      </tr>
      </thead>
   <tbody>
      <tr>
          <td class="text-center">MA1331</td>
          <td>Probability and Statistics</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
      </tr>
      <tr class="info">
          <th> </th>
          <th>Total Credits</th>
          <th> </th>
          <th class="text-center">24</th>
        </tr>
      </tbody>
    </table>
</div>


<div class="container">
  <div class="table-responsive col-lg-12">
  <div data-aos="fade-up">
      <p class="f-s-15 f-tblue text-center">
          II Year – Semester I (E2S1) Course Structure
    </p>
  </div>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
  <thead>
      <tr class="bg-info">
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th class="text-center">Contact Hours (L-T-P)</th>
        <th><strong>Credits</strong></th>
      </tr>
      </thead>
   <tbody>
      <tr>
          <td class="text-center">CS2101</td>
          <td>Design and Analysis of Algorithms</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS1202</td>
          <td>Object Oriented Programming</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS2104</td>
          <td>Operating System</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS2104</td>
          <td>Database Management System</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS2105</td>
          <td>Introduction to Robotics</td>
          <td class="text-center">2-0-0</td>
          <td class="text-center">2</td>
          </tr>
          <tr>
          <td class="text-center">EG2701</td>
          <td>English Language Lab-II</td>
          <td class="text-center">0-0-3</td>
          <td class="text-center">2</td>
          </tr>
          <tr>
          <td class="text-center">CS2701</td>
          <td>Object Oriented Programming Lab</td>
          <td class="text-center">0-0-3</td>
          <td class="text-center">2</td>
          </tr>
          <tr>
          <td class="text-center">CS2702</td>
          <td>Operating System Lab</td>
          <td class="text-center">0-0-3</td>
          <td class="text-center">2</td>
          </tr>
          <tr>
          <td class="text-center">CS2703</td>
          <td>Database Management Systems Lab</td>
          <td class="text-center">0-0-3</td>
          <td class="text-center">2</td>
          </tr>

          <tr class="info">
          <th> </th>
          <th>Total Credits</th>
          <th> </th>
          <th class="text-center">26</th>
        </tr>
      </tbody>
</table>
</div>


<div class="container">
  <div class="table-responsive col-lg-12">
  <div data-aos="fade-up">
      <p class="f-s-15 text-center">
          II Year – Semester II (E2S2) Course Structure
    </p>
  </div>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
  <thead>
      <tr class="bg-info">
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th class="text-center">Contact Hours (L-T-P)</th>
        <th><strong>Credits</strong></th>
      </tr>
      </thead>
   <tbody>
      <tr>
          <td class="text-center">CS2201</td>
          <td>Software Engineering</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS2202</td>
          <td>Computer Networks</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS2203</td>
          <td>Mobile Application Development</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS2204</td>
          <td>Cloud Computing</td>
          <td class="text-center">2-0-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS2205</td>
          <td>Introduction to Social Networking</td>
          <td class="text-center">2-0-0</td>
          <td class="text-center">2</td>
          </tr>
          <tr>
          <td class="text-center">CS2206</td>
          <td>Artificial Intelligence</td>
          <td class="text-center">2-0-0</td>
          <td class="text-center">2</td>
          </tr>
          <tr>
          <td class="text-center">EG2801</td>
          <td>English Language Lab-IV</td>
          <td class="text-center">0-0-3</td>
          <td class="text-center">2</td>
          </tr>
          <tr>
          <td class="text-center">CS2801</td>
          <td>Software Engineering Lab</td>
          <td class="text-center">0-0-3</td>
          <td class="text-center">2</td>
          </tr>
          <tr>
          <td class="text-center">CS2802</td>
          <td>Computer Networks Lab</td>
          <td class="text-center">0-0-3</td>
          <td class="text-center">2</td>
          </tr>
          <tr>
          <td class="text-center">CS2803</td>
          <td>Mobile Application Development Lab</td>
          <td class="text-center">0-0-3</td>
          <td class="text-center">2</td>
          </tr>

          <tr class="info">
          <th> </th>
          <th>Total Credits</th>
          <th> </th>
          <th class="text-center">26</th>
        </tr>
      </tbody>
</table>
</div>

<div class="container">
  <div class="table-responsive col-lg-12">
  <div data-aos="fade-up">
      <p class="f-s-15 f-tblue text-center">
          II Year – Semester III (E3S3) Course Structure
    </p>
  </div>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
  <thead>
      <tr class="bg-info">
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th class="text-center">Contact Hours (L-T-P)</th>
        <th><strong>Credits</strong></th>
      </tr>
      </thead>
   <tbody>
      <tr>
          <td class="text-center">CS2301</td>
          <td>Placement Skills</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
      </tr>
      <tr>
          <td class="text-center">CS2901</td>
          <td>Networking Technologies</td>
          <td class="text-center">2-0-0</td>
          <td class="text-center">2</td>
      </tr>
      <tr class="info">
          <th> </th>
          <th>Total Credits</th>
          <th> </th>
          <th class="text-center">6</th>
        </tr>
      </tbody>
    </table>
</div>


<div class="container">
  <div class="table-responsive col-lg-12">
  <div data-aos="fade-up">
      <p class="f-s-15 text-center">
          III Year – Semester I (E3S1) Course Structure
    </p>
  </div>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
  <thead>
      <tr class="bg-info">
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th class="text-center">Contact Hours (L-T-P)</th>
        <th><strong>Credits</strong></th>
      </tr>
      </thead>
   <tbody>
      <tr>
          <td class="text-center">CS31XX</td>
          <td>Elective-I</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS31XX</td>
          <td>Elective-II</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS31XX</td>
          <td>Elective-III</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS31XX</td>
          <td>Free Elective</td>
          <td class="text-center">2-0-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS3700</td>
          <td>Mini Project</td>
          <td class="text-center">0-0-8</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <tr class="info">
          <th> </th>
          <th>Total Credits</th>
          <th> </th>
          <th class="text-center">20</th>
        </tr>
      </tbody>
</table>
</div>



<div class="container">
  <div class="table-responsive col-lg-12">
  <div data-aos="fade-up">
      <p class="f-s-15 text-center">
          III Year – Semester II (E3S2) Course Structure
    </p>
  </div>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
  <thead>
      <tr class="bg-info">
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th class="text-center">Contact Hours (L-T-P)</th>
        <th><strong>Credits</strong></th>
      </tr>
      </thead>
   <tbody>
      <tr>
          <td class="text-center">CS32XX</td>
          <td>Elective-IV</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS32XX</td>
          <td>Elective-V</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS32XX</td>
          <td>Elective-VI</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS32XX</td>
          <td>Free Elective2</td>
          <td class="text-center">2-0-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS3800</td>
          <td>Mini Project</td>
          <td class="text-center">0-0-8</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <tr class="info">
          <th> </th>
          <th>Total Credits</th>
          <th> </th>
          <th class="text-center">20</th>
        </tr>
      </tbody>
</table>
</div>



<div class="container">
  <div class="table-responsive col-lg-12">
  <div data-aos="fade-up">
      <p class="f-s-15 f-tblue text-center">
          III Year – Summer Semester III (E3S3) Course Structure
    </p>
  </div>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
  <thead>
      <tr class="bg-info">
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th class="text-center">Contact Hours (L-T-P)</th>
        <th><strong>Credits</strong></th>
      </tr>
      </thead>
   <tbody>
      <tr>
          <td class="text-center">CS3900</td>
          <td>Summer Internship</td>
          <td class="text-center">0-0-8</td>
          <td class="text-center">4</td>
      </tr>
      <tr class="info">
          <th> </th>
          <th>Total Credits</th>
          <th> </th>
          <th class="text-center">4</th>
        </tr>
      </tbody>
    </table>
</div>



<div class="container">
  <div class="table-responsive col-lg-12">
  <div data-aos="fade-up">
      <p class="f-s-15 text-center">
          IV Year – Semester II (E4S1) Course Structure
    </p>
  </div>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
  <thead>
      <tr class="bg-info">
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th class="text-center">Contact Hours (L-T-P)</th>
        <th><strong>Credits</strong></th>
      </tr>
      </thead>
   <tbody>
      <tr>
          <td class="text-center">ES4101</td>
          <td>Environmental Science</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS41XX</td>
          <td>Elective-VII</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS41XX</td>
          <td>Free Elective3</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS4700</td>
          <td>Mini Project</td>
          <td class="text-center">0-0-12</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <tr class="info">
          <th> </th>
          <th>Total Credits</th>
          <th> </th>
          <th class="text-center">18</th>
        </tr>
      </tbody>
</table>
</div>


<div class="container">
  <div class="table-responsive col-lg-12">
  <div data-aos="fade-up">
      <p class="f-s-15 text-center">
          IV Year – Semester II (E3S2) Course Structure
    </p>
  </div>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
  <thead>
      <tr class="bg-info">
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th class="text-center">Contact Hours (L-T-P)</th>
        <th><strong>Credits</strong></th>
      </tr>
      </thead>
   <tbody>
      <tr>
          <td class="text-center">CS42XX</td>
          <td>Elective-VIII</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS42XX</td>
          <td>Elective-IX</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS42XX</td>
          <td>Free Elective4</td>
          <td class="text-center">3-1-0</td>
          <td class="text-center">4</td>
          </tr>
          <tr>
          <td class="text-center">CS4801</td>
          <td>Community Service</td>
          <td class="text-center">0-0-3</td>
          <td class="text-center">2</td>
          </tr>
          <tr>
          <td class="text-center">CS4800</td>
          <td>Project</td>
          <td class="text-center">0-0-8</td>
          <td class="text-center">6</td>
          </tr>
          <tr>
          <tr class="info">
          <th> </th>
          <th>Total Credits</th>
          <th> </th>
          <th class="text-center">20</th>
        </tr>
      </tbody>
</table>
</div>




<div class="container">
  <div class="table-responsive col-lg-12">
  <div data-aos="fade-up">
      <p class="f-s-15 text-center">
          List of Electives
    </p>
  </div>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
    <tr class="bg-info">
    <th>Subject Code</th>
    <th>Subject Name</th>
    <th>L-T-P</th>
    <th>Credits</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <th  class="text-center" colspan="4">List of Elective offered during E3 Sem1</th>
        </tr>
        <tr>
        <td class="text-center">CS3101</td>
        <td>Unix &amp; Shell Programming</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS3102</td>
        <td>Scripting Languages</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS3103</td>
        <td>Computer Graphics &amp; Multimedia</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS3104</td>
        <td>Machine Learning</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS3105</td>
        <td>Cryptography &amp; Network Security</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS3106</td>
        <td>Distributed Systems</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS3107</td>
        <td>Object Oriented Analysis &amp; Design</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS3108</td>
        <td>Advanced Algorithms</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS3109</td>
        <td>Compiler Design</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <th  class="text-center" colspan="4">List of Elective offered during E3 Sem2</th>
        </tr>
        <tr>
        <td class="text-center">CS3201</td>
        <td>Digital Image Processing</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS3203</td>
        <td>Applied Graph Theory</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS3204</td>
        <td>High Performance Computing</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS3205</td>
        <td>Data Mining</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS3206</td>
        <td>High Speed Networks</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS3207</td>
        <td>Cyber Security</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS3208</td>
        <td>Natural Language Processing</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS3209</td>
        <td>Data Sciences &amp; Big data Analytics</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS3210</td>
        <td>Software Testing</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <th  class="text-center" colspan="4">List of Elective offered during E4 Sem1</th>
        </tr>
        <tr>
        <td class="text-center">CS4101</td>
        <td>Information Retrieval</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS4102</td>
        <td>Software Reliability Engineering</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS4103</td>
        <td>Internet of Things</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS4104</td>
        <td>Advanced Cloud Computing</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <th  class="text-center" colspan="4">List of Elective offered during E4 Sem2</th>
        </tr>
        <tr>
        <td class="text-center">CS4201</td>
        <td>Software Architecture &amp; Design Patterns</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS4202</td>
        <td>Real Time Operating System</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS4203</td>
        <td>Parallel Algorithms</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS4204</td>
        <td>Soft Computing</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS4205</td>
        <td>Mobile Adhoc Network</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CS4206</td>
        <td>Human Computer Interaction</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <th  class="text-center" colspan="4">Other Subjects</th>
        </tr>
        <tr>
        <td class="text-center">HSXXXX</td>
        <td>Organizational Behaviour and Management</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">HSXXXX</td>
        <td>Managerial Economics</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">ES4101</td>
        <td>Environmental Science</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CSXXXX</td>
        <td>Introduction to Bioinformatics</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr>
        <tr>
        <td class="text-center">CSXXXX</td>
        <td>Advanced Bioinformatics</td>
        <td class="text-center">3-1-0</td>
        <td class="text-center">4</td>
        </tr> 
    </tbody>      
    </table>  
    </div>
  </div>    
{% endblock content %}