{% extends 'base.html' %}
{% load static %}
{% block title %}| CSE Events and talks |{% endblock title %}
{% block highlights_class %}active{% endblock  %}

{% block content %}


<section class="studenets">
  <h2 align="center" class="m-4" data-aos="fade-up" style="margin-top: 70px;">EVENTS & WORKSHOPS</h2>

  <div class="container" style='overflow:auto'>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">S.NO</th>
      <th scope="col">Name of the Programme</th>
      <th scope="col">Resource Person</th>
      <th scope="col">Convenor</th>
      <th scope="col">Co-ordinator's</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
  {% for e in events %}
    <tr>
      <td scope="row"></td>
      <td>{{e.name}}</td>
      <td>{{e.res_person}}</td>
      <td>{{e.covinor}}</td>
      <td>{{e.coordinators}}</td>
      <td>{{e.description}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</section>



  {% endblock %}
  {% block scripts %}
  <script>
  $('table').find('tr').not(':eq(0)').each(function(i){
        $(this).children('td:eq(0)').text(i+1).css('font-weight', 'bold');
    });
  </script>
  {% endblock scripts %}
