{% extends 'base.html' %}
{% load static %}
{% block title %}| CSE Events and talks |{% endblock title %}
{% block content %}
{% block highlights_class %}active{% endblock  %}


<section class="studenets">
  <h2 align="center" class="m-4" data-aos="fade-up" style="margin-top: 70px;">EVENTS & WORKSHOPS</h2>

  <div class="container">
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">S.NO</th>
      <th scope="col">Name of the Programme</th>
      <th scope="col">Resource Person</th>
      <th scope="col">Convenor</th>
      <th scope="col">Co-ordinator's</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>FDP-on AI and ML Real time applications (10/02/2020-15/02/2020) <br> (Strength=42) <br> Patron: Dr.G. Bhanu Kiran </td>
      <td>E & ICT Acadey NIT Warangal </td>
      <td> Satish Kumar CH</td>
      <td> K.Vijay Bhaskar <br> Dr.N.CH. Ramesh Babu</td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>APSSDC-AWS<br>(10/02/2020-15/02/2020) <br> (Strength=352, 6days) <br> Patron: Dr.G. Bhanu Kiran </td>
      <td>APSSDC</td>
      <td> Satish Kumar CH</td>
      <td> S.Seshu Kumar</td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td>APSSDC-Android Development<br>(10/02/2020-15/02/2020) <br> (Strength=352, 6days) <br> Patron: Dr.G. Bhanu Kiran </td>
      <td>APSSDC</td>
      <td> Satish Kumar CH</td>
      <td> N.L. Prasanna Devi</td>
    </tr>

    <tr>
      <th scope="row">4</th>
      <td>APSSDC-Advanced Python<br>(10/02/2020-15/02/2020) <br> (Strength=352, 6days) <br> Patron: Dr.G. Bhanu Kiran </td>
      <td>APSSDC</td>
      <td> Satish Kumar CH</td>
      <td> T. Anil Kumar</td>
    </tr>

    <tr>
      <th scope="row">5</th>
      <td>Workshop-Advanced Computer Networks <br> (27/12/2019 - 28/12/1019) (Strength=352, 2days) </td>
      <td>Dr. Rahul Jaswanth Pandhya <br> (Assistant Professor NIT Warangal) </td>
      <td> Satish Kumar CH</td>
      <td> M. Roopa</td>
    </tr>

    <tr>
      <th scope="row">6</th>
      <td>Workshop on Robotics and IOT (12/11/2019-13/11/2019) <br> (Strength=352,2 days) </td>
      <td>Dr. Ravi Kumar Jatoth</td>
      <td> Satish Kumar CH</td>
      <td> S.Sateesh Kumar</td>
    </tr>

  

  </tbody>
</table>
</div>
</section>



  {% endblock %}