{% extends 'base.html' %}
{% load static %}
{% block title %}| CSE Faculty |{% endblock title %}
{% block people_class %}active{% endblock people_class %}

{% block content %}  
  <section id="team" class="pb-5">
      <div class="container">
          <h5 class="section-title h1" fade-aos="fade-up">Faculty of Computer Science</h5>
          <div class="row">
          {% for f in faculty %}
              <!-- Team member -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" >
                      <div class="mainflip flip-0">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="{{f.image.url}}" alt="card image" style='object-fit:cover '/></p>
                                      <h4 class="card-title">{{f.name}}</h4>
                                      <h5 class="card-title">Faculty of {{f.spec_sub}}</h5>
                                      <p class="card-text">
                                        <ul class="mx-0 pl-2 pr-0" style="list-style-type: none;">
                                         <li>
                                             <i class="fa fa-phone"></i> +91 {{f.phone}}</li>
                                         <li>
                                             <i class="fa fa-envelope"></i> {{f.email}} </li>
                                        </ul>
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">About {{f.name}}</h4>
                                      <p class="card-text">Satish is an expert in {{f.spec_sub}}. </p>
                                        <p class='card-text'><i class="fa fa-dot-circle-o" aria-hidden="true"></i>&nbspEducation Level: {{f.edu_level}}</p>
                                        {% if f.publication != "" %}
                                        <p class='card-text'><i class="fa fa-dot-circle-o" aria-hidden="true"></i>&nbspPublication(s): {{f.publication}}</p>
                                        {% endif %}
                                      <button class="btn btn-primary">Know More</button>
                                      <ul class="list-inline">
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-facebook"></i>
                                              </a>
                                          </li>
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-twitter"></i>
                                              </a>
                                          </li>
                                    
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-instagram"></i>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
              <!-- ./Team member -->
              <!-- Team member -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" >
                      <div class="mainflip flip-0">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="https://cdn4.iconfinder.com/data/icons/business-charts-rounded/512/xxx022-512.png" alt="card image"></p>
                                      <h4 class="card-title">S Sateesh Kumar</h4>
                                      <h5 class="card-title">Faculty of Mobile Application and Development</h5>
                                      <p class="card-text">
                                        <ul class="mx-0 pl-2 pr-0" style="list-style-type: none;">
                                         <li>
                                             <i class="fa fa-phone"></i> +91 9441116070</li>
                                         <li>
                                             <i class="fa fa-envelope"></i> sateeshkumar33@gmail.com </li>
                                        </ul>
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Sateesh Kumar</h4>
                                      <p class="card-text">Satish is an expert in Mobile App development. He had done many minar and major projects. </p>

                                      <button class="btn btn-primary">Know More</button>
                                      <ul class="list-inline">
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-facebook"></i>
                                              </a>
                                          </li>
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-twitter"></i>
                                              </a>
                                          </li>
                                    
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-instagram"></i>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              
              <!-- ./Team member -->
              <!-- Team member -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" >
                      <div class="mainflip flip-0">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="https://cdn4.iconfinder.com/data/icons/business-charts-rounded/512/xxx022-512.png" alt="card image"></p>
                                      <h4 class="card-title">Sateesh Kumar</h4>
                                      <h5 class="card-title">Faculty of Mobile Application and Development</h5>
                                      <p class="card-text">
                                        <ul class="mx-0 pl-2 pr-0" style="list-style-type: none;">
                                         <li>
                                             <i class="fa fa-phone"></i> +91 9703337730</li>
                                         <li>
                                             <i class="fa fa-envelope"></i> mail2seshu@gmail.com </li>
                                        </ul>
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Sateesh Kumar</h4>
                                      <p class="card-text">Satish is an expert in Mobile App development. He had done many minar and major projects. </p>

                                      <button class="btn btn-primary">Know More</button>
                                      <ul class="list-inline">
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-facebook"></i>
                                              </a>
                                          </li>
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-twitter"></i>
                                              </a>
                                          </li>
                                    
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-instagram"></i>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              
              <!-- ./Team member -->
              <!-- Team member -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" >
                      <div class="mainflip flip-0">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="https://cdn4.iconfinder.com/data/icons/business-charts-rounded/512/xxx022-512.png" alt="card image"></p>
                                      <h4 class="card-title">Sateesh Kumar</h4>
                                      <h5 class="card-title">Faculty of Mobile Application and Development</h5>
                                      <p class="card-text">
                                        <ul class="mx-0 pl-2 pr-0" style="list-style-type: none;">
                                         <li>
                                             <i class="fa fa-phone"></i> +91 9703337730</li>
                                         <li>
                                             <i class="fa fa-envelope"></i> mail2seshu@gmail.com </li>
                                        </ul>
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Sateesh Kumar</h4>
                                      <p class="card-text">Satish is an expert in Mobile App development. He had done many minar and major projects. </p>

                                      <button class="btn btn-primary">Know More</button>
                                      <ul class="list-inline">
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-facebook"></i>
                                              </a>
                                          </li>
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-twitter"></i>
                                              </a>
                                          </li>
                                    
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-instagram"></i>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              
              <!-- ./Team member -->
              <!-- Team member -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" >
                      <div class="mainflip flip-0">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="https://cdn4.iconfinder.com/data/icons/business-charts-rounded/512/xxx022-512.png" alt="card image"></p>
                                      <h4 class="card-title">Sateesh Kumar</h4>
                                      <h5 class="card-title">Faculty of Mobile Application and Development</h5>
                                      <p class="card-text">
                                        <ul class="mx-0 pl-2 pr-0" style="list-style-type: none;">
                                         <li>
                                             <i class="fa fa-phone"></i> +91 9703337730</li>
                                         <li>
                                             <i class="fa fa-envelope"></i> mail2seshu@gmail.com </li>
                                        </ul>
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Sateesh Kumar</h4>
                                      <p class="card-text">Satish is an expert in Mobile App development. He had done many minar and major projects. </p>

                                      <button class="btn btn-primary">Know More</button>
                                      <ul class="list-inline">
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-facebook"></i>
                                              </a>
                                          </li>
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-twitter"></i>
                                              </a>
                                          </li>
                                    
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-instagram"></i>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              
              <!-- ./Team member -->
              <!-- Team member -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" >
                      <div class="mainflip flip-0">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="https://cdn4.iconfinder.com/data/icons/business-charts-rounded/512/xxx022-512.png" alt="card image"></p>
                                      <h4 class="card-title">Sateesh Kumar</h4>
                                      <h5 class="card-title">Faculty of Mobile Application and Development</h5>
                                      <p class="card-text">
                                        <ul class="mx-0 pl-2 pr-0" style="list-style-type: none;">
                                         <li>
                                             <i class="fa fa-phone"></i> +91 9703337730</li>
                                         <li>
                                             <i class="fa fa-envelope"></i> mail2seshu@gmail.com </li>
                                        </ul>
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Sateesh Kumar</h4>
                                      <p class="card-text">Satish is an expert in Mobile App development. He had done many minar and major projects. </p>

                                      <button class="btn btn-primary">Know More</button>
                                      <ul class="list-inline">
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-facebook"></i>
                                              </a>
                                          </li>
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-twitter"></i>
                                              </a>
                                          </li>
                                    
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-instagram"></i>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              
              <!-- ./Team member -->

               <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" >
                      <div class="mainflip flip-0">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="https://cdn4.iconfinder.com/data/icons/business-charts-rounded/512/xxx022-512.png" alt="card image"></p>
                                      <h4 class="card-title">Sateesh Kumar</h4>
                                      <h5 class="card-title">Faculty of Mobile Application and Development</h5>
                                      <p class="card-text">
                                        <ul class="mx-0 pl-2 pr-0" style="list-style-type: none;">
                                         <li>
                                             <i class="fa fa-phone"></i> +91 9703337730</li>
                                         <li>
                                             <i class="fa fa-envelope"></i> mail2seshu@gmail.com </li>
                                        </ul>
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Sateesh Kumar</h4>
                                      <p class="card-text">Satish is an expert in Mobile App development. He had done many minar and major projects. </p>

                                      <button class="btn btn-primary">Know More</button>
                                      <ul class="list-inline">
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-facebook"></i>
                                              </a>
                                          </li>
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-twitter"></i>
                                              </a>
                                          </li>
                                    
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-instagram"></i>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- ./Team member -->
              <!-- Team member -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" >
                      <div class="mainflip flip-0">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="https://cdn4.iconfinder.com/data/icons/business-charts-rounded/512/xxx022-512.png" alt="card image"></p>
                                      <h4 class="card-title">Sateesh Kumar</h4>
                                      <h5 class="card-title">Faculty of Mobile Application and Development</h5>
                                      <p class="card-text">
                                        <ul class="mx-0 pl-2 pr-0" style="list-style-type: none;">
                                         <li>
                                             <i class="fa fa-phone"></i> +91 9703337730</li>
                                         <li>
                                             <i class="fa fa-envelope"></i> mail2seshu@gmail.com </li>
                                        </ul>
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Sateesh Kumar</h4>
                                      <p class="card-text">Satish is an expert in Mobile App development. He had done many minar and major projects. </p>

                                      <button class="btn btn-primary">Know More</button>
                                      <ul class="list-inline">
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-facebook"></i>
                                              </a>
                                          </li>
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-twitter"></i>
                                              </a>
                                          </li>
                                    
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-instagram"></i>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              
              <!-- ./Team member -->
              <!-- Team member -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" >
                      <div class="mainflip flip-0">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" src="https://cdn4.iconfinder.com/data/icons/business-charts-rounded/512/xxx022-512.png" alt="card image"></p>
                                      <h4 class="card-title">Sateesh Kumar</h4>
                                      <h5 class="card-title">Faculty of Mobile Application and Development</h5>
                                      <p class="card-text">
                                        <ul class="mx-0 pl-2 pr-0" style="list-style-type: none;">
                                         <li>
                                             <i class="fa fa-phone"></i> +91 9703337730</li>
                                         <li>
                                             <i class="fa fa-envelope"></i> mail2seshu@gmail.com </li>
                                        </ul>
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">Sateesh Kumar</h4>
                                      <p class="card-text">Satish is an expert in Mobile App development. He had done many minar and major projects. </p>

                                      <button class="btn btn-primary">Know More</button>
                                      <ul class="list-inline">
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-facebook"></i>
                                              </a>
                                          </li>
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-twitter"></i>
                                              </a>
                                          </li>
                                    
                                          <li class="list-inline-item">
                                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                                  <i class="fa fa-instagram"></i>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              
             

          </div>
      </div>
  </section>
  <!-- Team -->
  {% endblock content %}  



