{% extends 'base.html' %} 
{% load static %} 
{% block title %}| CSE Labs |{% endblock title %}
{% block content %} 
{% block research_class %}active{%endblock research_class %}
  

<div class="container">
  <article class="shade-two" style="margin-top: 70px;">
    <div class="container">
      <header>
        <h2 class="text-center" data-aos="fade-up"> LABS</h2>
        <p></p>
      </header>
  <table class="table">
    <thead data-aos="fade-left">
      <tr>
        <th>Programming with C</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Programming with C Practical Lab</strong></li>
          </ul>
        </td>
        <td></td>
      </tr>
    </tbody>


    <thead data-aos="fade-left">
      <tr>
        <th>Digital Logic Design</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Digital Logic Design Practical Lab</strong></li>
          </ul>
        </td>
        <td></td>
      </tr>
    </tbody>


    <thead data-aos="fade-left">
      <tr>
        <th>Web Technologies</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Web Technologies Practical Lab</strong></li>
          </ul>
        </td>
        <td></td>
      </tr>
    </tbody>


    <thead data-aos="fade-left">
      <tr>
        <th>English Language</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>CALL Lab</strong></li>
            <li><strong>ECS Lab</strong></li>
          </ul>
        </td>
        <td></td>
      </tr>
    </tbody>


    <thead data-aos="fade-right">
      <tr>
        <th>Data Structures</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Data Structures Practical Lab</strong></li>
          </ul>
        </td>
        <td></td>
      </tr>
    </tbody>

    <thead data-aos="fade-right">
      <tr>
        <th>Computer Organization and Architecture</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Computer Organization and Architecture Practical Lab</strong></li>
          </ul>
        </td>
        <td></td>
      </tr>
    </tbody>

    <thead data-aos="fade-right">
      <tr>
        <th>Object Oriented Programming </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Object Oriented Programming  Practical Lab</strong></li>
          </ul>
        </td>
        <td></td>
      </tr>
    </tbody>

    <thead data-aos="fade-right">
      <tr>
        <th>Operating System</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Operating System Practical Lab</strong></li>
          </ul>
        </td>
        <td></td>
      </tr>
    </tbody>

    <thead data-aos="fade-left">
      <tr>
        <th>Database Management Systems</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Database Management Systems Practical Lab</strong></li>
          </ul>
        </td>
        <td></td>
      </tr>
    </tbody>

    <thead data-aos="fade-right">
      <tr>
        <th>Software Engineering </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>  Software Engineering Practical Lab</strong></li>
          </ul>
        </td>
        <td></td>
      </tr>
    </tbody>

    <thead data-aos="fade-left">
      <tr>
        <th>Computer Networks</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>Computer Networks Practical Lab</strong></li>
          </ul>
        </td>
        <td></td>
      </tr>
    </tbody>


    <thead data-aos="fade-right">
      <tr>
        <th>  Mobile Application Development</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li><strong>  Mobile Application Development Practical Lab</strong></li>
          </ul>
        </td>
        <td></td>
      </tr>
    </tbody>



  </table>
</div>
</article>
</table>
</div>

 {% endblock %}