<!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-6 " data-aos="fade-right">
          <section id="portfolio-details" class="portfolio-details">
            <div class="container" data-aos="fade-up">
              <div class="portfolio-details-container">
                <div class="owl-carousel portfolio-details-carousel">
                  <img src="assets/img/slideshow/s4.png" class="img-fluid" alt="">
                  <img src="assets/img/slideshow/s5.JPG" class="img-fluid" alt="">
                  <img src="assets/img/slideshow/s6.JPG" class="img-fluid" alt="">
                  <img src="assets/img/slideshow/s1.jpg" class="img-fluid" alt="">
                  <img src="assets/img/slideshow/s2.jpg" class="img-fluid" alt="">
                  <img src="assets/img/slideshow/s3.png" class="img-fluid" alt="">
                </div>
              </div>
            </div>
          </section>
        </div>

  <div class="row notification-container">
  <h2 class="text-center" data-aos="fade-up"> News &amp; Notifications</h2>

  <div class="card notification-card notification-warning">
    <div class="card-body">
       <table>
        <tr>
          <td style="width:70%"><div class="card-title">New Schedule for E2S2 EST Time Table</div></td>
          <td style="width:30%">
            <a href="https://drive.google.com/file/d/1iqIxV4Tm3t0DhzqyrjkemECDKEyqdW7M/view?usp=sharing" class="btn btn-primary" style="float: right;" target="blank">View</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card notification-card notification-warning">
    <div class="card-body">
       <table>
        <tr>
          <td style="width:70%"><div class="card-title">New Schedule for E2S2 EST Time Table</div></td>
          <td style="width:30%">
            <a href="https://drive.google.com/file/d/1iqIxV4Tm3t0DhzqyrjkemECDKEyqdW7M/view?usp=sharing" class="btn btn-primary" style="float: right;" target="blank">View</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card notification-card notification-warning">
    <div class="card-body">
       <table>
        <tr>
          <td style="width:70%"><div class="card-title">New Schedule for E2S2 EST Time Table</div></td>
          <td style="width:30%">
            <a href="https://drive.google.com/file/d/1iqIxV4Tm3t0DhzqyrjkemECDKEyqdW7M/view?usp=sharing" class="btn btn-primary" style="float: right;" target="blank">View</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card notification-card notification-warning">
    <div class="card-body">
       <table>
        <tr>
          <td style="width:70%"><div class="card-title">New Schedule for E2S2 EST Time Table</div></td>
          <td style="width:30%">
            <a href="https://drive.google.com/file/d/1iqIxV4Tm3t0DhzqyrjkemECDKEyqdW7M/view?usp=sharing" class="btn btn-primary" style="float: right;" target="blank">View</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  </section>
  </div>