{% extends 'base.html' %} 
{% load static %} 
{% block title %}| CSE News |{% endblock title %}
{% block news_class %}active{%endblock %}

{% block content %} 

 <section id="portfolio" class="portfolio">

      <div class="container" data-aos="fade-up">

        <header class="section-header" style="text-align: center; margin-top: 50px;">
          <h2>Lates News </h2>
          <p></p>
        </header>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-news" id="#workshops">Announcements & News</li>
              <li data-filter=".filter-updates">Updates</li>
              <li data-filter=".filter-pd">Placements Drives</li>
            </ul>
          </div>
        </div>

        <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

          {% for n in news %}
          <div class="col-lg-12 col-md-12 portfolio-item {% if n.category == 'Announcement' %}filter-news {% elif n.category == 'Update'%}filter-updates {% else %}filter-pd{% endif %}" id="{{n.id}}">
            <div class="col-md-12">
              <div class="alert alert-info  fade show" role="alert">
                <p>{{n.modified|date:"d M Y"}}</p>
                <strong>{{n.title}}</strong> <p> {{n.description}}</p>
              </div>
            </div>
          </div>
        {% endfor %}


        </div>


        
        
      </div>

    </section>

{% endblock %}