{% extends 'base.html' %} 
{% load static %} 
{% block title %}| CSE Publications |{% endblock title %}
{% block content %} 
{% block research_class %}active{%endblock research_class %}
<section class="studenets">
  <h2 align="center" data-aos="fade-up" style="margin-top: 50px">
    List of Publications
  </h2>
  <div class="container">
    <article class="shade-two" style="margin-top: 70px">
      <div class="container">
        <header>
          <p></p>
        </header>
        <table class="table">
          <thead data-aos="fade-up">
            <tr>
              <th>Title</th>
              <th>
                Skills and Technology for a Vibrant Women Entrepreneurship
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width: 120px">
                <ul>
                  <li><strong>S160074</strong></li>
                  <li><strong>Abisheik</strong></li>
                </ul>
              </td>
              <td>
                <p>
                  Presented in a two-day National Conference on the theme
                  <strong
                    >"Role of Women in Technical Education: Entrepreneurship,
                    Research and Consultancy(RWTE-2019)</strong
                  >
                  organized as a part of Diamond JUbliee Celebrations under
                  TEQIP-III at the National Institute of Technology, Warangal
                  during 8-9th March 2019
                </p>
              </td>
            </tr>
          </tbody>

          <thead data-aos="fade-up">
            <tr>
              <th>Title</th>
              <th>Data Science</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width: 120px">
                <ul>
                  <li><strong>S160163</strong></li>
                  <li><strong>Jai Ganesh</strong></li>
                </ul>
              </td>
              <td>
                <p>
                  1. How to Build Gender Wise Face Recognition and Counting
                  Application With OpenCV -
                  <a
                    href="https://dataaspirant.com/gender-wise-face-recognition-with-opencv/"
                    >Know More
                  </a>
                  <br />
                  2. How to Handle Overfitting in Deep Learning<a
                    href="https://dataaspirant.com/handle-overfitting-deep-learning-models/"
                    >Know More</a
                  ><br />
                  3. Best ways to Handle Imbalanced data in Machine Learning
                  <a
                    href="https://dataaspirant.com/handle-imbalanced-data-machine-learning/"
                    >Know More</a
                  >
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
  </div>
</section>

{% endblock %}
