{% extends 'base.html' %} 
{% load static %} 
{% block title %}| CSE Publications |{% endblock title %}
{% block research_class %}active{%endblock research_class %}

{% block content %} 
<section class="studenets">
  <h2 align="center" data-aos="fade-up" style="margin-top: 50px">
    List of Publications
  </h2>
  <div class="container">
    <article class="shade-two" style="margin-top: 70px">
      <div class="container">
        <header>
          <p></p>
        </header>
        <table class="table">

        {% for p in publications %}
          <thead data-aos="fade-up">
            <tr>
              <th>Title</th>
              <th>
                {{p.title}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width: 120px">
                <ul>
                  <li><strong>{{p.id_no}}</strong></li>
                  <li><strong>{{p.name}}</strong></li>
                </ul>
              </td>
              <td>
                <p>
                  {{p.description}}
                  <a
                    href="{{p.link}}"
                    >Know More
                  </a>or
                  {% if p.proof %}
                  <a href={{p.proof.url}} > View Abstract</a>
                  {% endif %}
                </p>
              </td>
            </tr>
          </tbody>
        {% endfor %}
        </table>
      </div>
    </article>
  </div>
</section>

{% endblock %}
