{% extends 'base.html' %}
{% block title%}| CSE Form |{% endblock title%}
{% load widget_tweaks %}
{% block content %}
<h2 style="margin:100px auto" align="center"> We are sorry for the inconvenience but this page is under maintenance</h2> 
{% comment%}
  <section id="forms" style='padding:0'>
        <div class="container-fluid" style='padding:0'>
    {% if request.path == "/publication_form" %}
    <form class="well form-horizontal" method="post"  id="contact_form" action='publication_form' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}

<div class="container-fluid register" style='padding:0; margin-top:0'>
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="assets/img/logo.jpg" alt=""/>
                        <h3>Welcome</h3>
                        <p>Enter your Details of your publication along with any proof available</p>
                        <br>
                        <p><b>Note : </b> On submit you will be redirected to the publications page. Meanwhile your publication details will be sent for evalution by the CSE Admin. On approval it will get displayed in the CSE website publications page.<br> Evaluation may take 1-2 working days.</p>
                    </div>
                    <div class="col-md-9 register-right">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">New Publication entry Form</h3>
                                <div class="row register-form">
                                    <div class="col-md-10 container">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                {% render_field form.name placeholder="Enter your Full Name*" class="form-control" %}
                                            </div>
                                            <div class="form-group col-md-6">
                                                {% render_field form.id_no class="form-control" id="inputEmail4" placeholder="Enter your Id Number*" %}
                                            </div>
                                            </div>

                                        <div class="form-group">

                                            {% render_field form.title class="form-control" id="time" aria-describedby="emailHelp" placeholder="Enter the Title of the publication*" %}
                                        </div>

                                        <div class="form-group">

                                        {% render_field form.description class="form-control" id="description" placeholder="Enter the Description of the publication*" %}
                            
                                        </div>
                                        <div class="form-group">

                                        {% render_field form.link class="form-control" id="description"  placeholder="Enter link (if any)" %}
                            
                                        </div>
                                        <div class="form-group">

                                        <label class="form-label" for="customFile">Upload PDF/PPT/Word that contains all the images and text that describes all the details of your publication.It should also contain images or soucres that serve as proofs.</label>

                                        {% render_field form.proof %}

                                        <label class="form-label" for="customFile">Note: The above file will be used to evaluate whether the publication is valid or not and if approved it will also get displayed in the CSE official website.</label>

                                        </div>


                                        <Button type="submit" class="btnRegister">Submit</Button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
            <form class="well form-horizontal" method="post"  id="contact_form" action='award_form' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}

<div class="container-fluid register" style='padding:0; margin-top:0'>
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="assets/img/logo.jpg" alt=""/>
                        <h3>Welcome</h3>
                        <p>Enter your Details of your publication along with any proof available</p>
                        <p><b>Note : </b> On submit you will be redirected to the awards page. Meanwhile your award details will be sent for evalution by the CSE Admin. On approval it will get displayed in the CSE website Awards page.<br> Evaluation may take 1-2 working days.</p>
                    </div>
                    <div class="col-md-9 register-right">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">New Publication entry Form</h3>
                                <div class="row register-form">
                                    <div class="col-md-10 container">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                {% render_field form.name placeholder="Enter your Full Name*" class="form-control" %}
                                            </div>
                                            <div class="form-group col-md-6">
                                                {% render_field form.id_no class="form-control" id="inputEmail4" placeholder="Enter your Id Number*" %}
                                            </div>
                                            </div>

                                        <div class="form-group">

                                            {% render_field form.title class="form-control" id="time" aria-describedby="emailHelp" placeholder="Enter the name of the award*" %}
                                        </div>

                                        <div class="form-group">

                                        {% render_field form.description class="form-control" id="description" placeholder="Enter the Description of the award* (Details like when, what, how)" %}
                            
                                        </div>
                                        <div class="form-group">

                                        {% render_field form.link class="form-control" id="description"  placeholder="Enter link (if any)" %}
                            
                                        </div>
                                        <div class="form-group">

                                        <label class="form-label" for="customFile">Upload PDF/PPT/Word that contains all the images and text that describes all the details of your award.It should also contain images or soucres that serve as proofs.</label>

                                        {% render_field form.proof %}

                                        <label class="form-label" for="customFile">Note: The above file will be used to evaluate whether the award is valid or not and if approved it will also get displayed in the CSE official website.</label>

                                        </div>

                                        <Button type="submit" class="btnRegister">Submit</Button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% endif %}

            </div>
</section>
{% endcomment %}
{% endblock content %}

{% block scripts %}
<script>
    $('#id_edu_level').children('option:selected').text('Select Education level')
    $('#id_gender').children('option:selected').text('Select gender')
    $('textarea').css({height:'62px'})
</script>
{% endblock scripts %}