{% extends 'base.html' %}
{% load static %}
{% block title %}| CSE Staff |{% endblock title %}
{% block people_class %} active{% endblock people_class %}
{% block content %}  

<section id="team" class="pb-5">
      <div class="container">
          <h5 class="section-title h1" data-aos="fade-up">Staff of Computer Science</h5>
          <div class="row">
              <!-- Team member -->
              {% for s in staff %}
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="" >
                      <div class="">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                  {% if s.image %}
                                      <p><img class=" img-fluid" src="{{s.image.url}}" alt="card image" style='object-fit:cover '/></p>
                                      {% else %}
                                      <p><img class=" img-fluid" src=" {% static 'img/dum.png' %}" alt="card image" style='object-fit:cover '/></p>
                                      {% endif %}
                                      <h4 class="card-title">{{s.name}}</h4>
                                      <h5 class="card-title">{{s.profession}}</h5>
                                      <p class="card-text">
                                        <ul class="mx-0 pl-2 pr-0" style="list-style-type: none;">
                                         <li>
                                             <i class="fa fa-phone"></i>{{s.phone}}</li>
                                         <li>
                                             <i class="fa fa-envelope"></i> {{s.email}} </li>
                                        </ul>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
              

            
             
            </div>
          </div>
        </section>
  {% endblock %}