{% extends 'base.html' %}
{% load static %}
{% block title %}| CSE Students |{% endblock title %}
{% block people_class %} active{% endblock people_class %}
{% block content %}  
  
<!-- 
<section class="studenets">
  <h2 align="center" data-aos="fade-up" style="margin-top: 70px;">List of Students</h2>
</section>
<div class="container">
  <div class="row justify-content-around">
    <div class="col-4">
      <button class="btn btn-primary btn-lg">B.Tech-2016 </button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary btn-lg" >B.Tech-2017 </button>
    </div>
  </div>

  <div class="row justify-content-around" style="margin-top: 70px; margin-bottom: 70px;">
    <div class="col-4">
      <button class="btn btn-primary btn-lg">B.Tech-2016 </button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary btn-lg" >B.Tech-2017 </button>
    </div>
  </div>
</div>
 -->

<section class="studenets" align='center'>
  <h2 align="center" data-aos="fade-up" style="margin: 30px 0 50px 0;">List of Students</h2>
  {% for b in batches %}
  <div class='cardwshadow'>
  <a href="{{b.batch_link}}" target='_blank'>
    <div> 
      <i class="fas fa-external-link-alt" aria-hidden="true"  style='color:blue'></i> 
    </div>
    <div class='text-content'>
    <p class='title mr-auto'>{{b.batch_year}} Batch</p>
    </div>
  </a>
  </div>
{% endfor %}

</section>
 {% endblock %}