{% extends 'base.html' %}
{% load static %}
{% block title %} | Web team | {% endblock title %}
{% block about_class %} active {% endblock about_class %}
{% block content %}
<section class="studenets">
  <h2 align="center" data-aos="fade-up" style="margin-top: 70px;">Web Team</h2>
  <div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="{% static 'img/web.jpg' %}" alt="">
                </div>
                <div class="team-content">
                    <h3 class="title">AKhil MSA</h3>
                    <span class="post">FrontEnd WebDeveloper</span>
                    <ul class="social">
                        <li><a href="mailto:S160138@rguktsklm.ac.in" target='_blank'><i class="fa fa-envelope-open"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/s_a_i_____a_k_h_i_l/" target='_blank'><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
 
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="{% static 'img/web.jpg' %}" alt="">
                </div>
                <div class="team-content">
                    <h3 class="title">Rahul </h3>
                    <span class="post">BackEnd WebDeveloper</span>
                    <ul class="social">
                       <li><a href="mailto:S160142@rguktsklm.ac.in" target='_blank'><i class="fa fa-envelope-open"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/rahul-pinjarla-2592281b3" target='_blank'><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/rahul.p.g.s/" target='_blank'><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="{% static 'img/web.jpg' %}" alt="">
                </div>
                <div class="team-content">
                    <h3 class="title">Duggirala Akhil </h3>
                    <span class="post">FrontEnd WebDeveloper</span>
                    <ul class="social">
                        <li><a href="mailto:S160882@rguktsklm.ac.in" target='_blank'><i class="fa fa-envelope-open"></i></a></li>
                        <li><a href="https://www.linkedin.com/mwlite/in/duggirala-akhil-151768187" target='_blank'><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
  </div>

</section>


{% endblock content %}